body{
    /*Here we make everything centered*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    height: 100vh; /*Makes body page size*/
    /*Create background gradient*/
    background-color: hsl(240, 73%, 65%); /*for browsers that don't support gradients*/
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-size: cover;
    background-repeat: no-repeat;

    /*font used*/
    font-family: 'Kumbh Sans';
}

h1{
    color: hsl(238, 29%, 16%);
}

.question_txt{
    font-weight: 400;
    color: hsl(237, 12%, 33%);
    font-size: 15px;

    margin: 0;

    background-color: transparent;
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    text-align: left;

    /*erases default border and puts a border at the bottom*/
    border: 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);

    outline: none;/*idk if this is useful but it's here because i don't wanna break anything*/
}

.question_txt:hover{
    color: hsl(14, 88%, 65%);
}

.active {/*this is activated by js*/
    color:hsl(238, 29%, 16%);
    font-weight: 600;
    font-size: 14px; /*Fonts goes smaller to match preview image size*/
}

.question_txt:after{ /*after inserts something after the content of the selected element*/
    content: url(images/icon-arrow-down.svg);
    float: right;
    margin-left: 5px;
}

.active:after{
    /*flips arrow and makes it upside down after being pressed*/
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.answer_txt{
    font-weight: 400;
    color: hsl(240, 6%, 50%);
    font-size: 12px;

    margin: 0;

    background-color: transparent;
    /*this hides the text*/
    display: none;
    overflow: hidden;
}

#flex_container{
    /*size and color adjustments*/
    width: 920px;
    height: 520px;
    margin: 30px 60px;
    border-radius: 25px;
    /*adds background image and adjusts size*/
    background-color: white;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    /*makes background off center*/
    background-position: -530px -250px;

    /*centers the contents vertically in the container*/
    display: flex;
    align-items: center;
}

#item1{
    min-width: 400px;
    height: 70%; /*this makes image work with align-items: center*/
}

#girl_screen{
    height: 100%;
    width: 100%;
    background-image: url(images/illustration-woman-online-desktop.svg);
    background-size: 470px;
    background-repeat: no-repeat;
    background-position: -80px;

    display: flex;
    align-items: center;
}

#girl_screen img{
    margin: 95px 0 0 -93px;
}

#item2{
    margin: 0 100px 0 80px;
}

@media(max-width: 800px) { /*Mobile design*/
    #flex_container{
        /*changes background image to mobile version*/
        background-image: url(images/bg-pattern-mobile.svg);
        flex-direction: column;
        margin: 200px 60px 0 60px;
    }
    #girl_screen{
        background-image: none;
    }
    #girl_screen img{
        content: url(images/illustration-woman-online-mobile.svg);
        margin: -180px 0 0 0;

    }
}
