body{
    /*Here we make everything centered*/
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    height: 100vh; /*Makes body page size*/
    /*Create background gradient*/
    background-color: hsl(240, 73%, 65%); /*for browsers that don't support gradients*/
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-size: cover;
    background-repeat: no-repeat;

    /*font used*/
    font-family: 'Kumbh Sans', sans-serif;
}

h1{
    color: hsl(238, 29%, 16%);
}

.question_txt{
    font-weight: 400;
    color: hsl(237, 12%, 33%);
    font-size: 15px;

    margin: 0;

    background-color: transparent;
    cursor: pointer;
    padding: 18px 0;
    width: 100%;
    text-align: left;

    /*erases default border and puts a border at the bottom*/
    border: 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);

    outline: none;/*idk if this is useful but it's here because i don't wanna break anything*/
}

.question_txt:hover{
    color: hsl(14, 88%, 65%);
}

.active {/*this is activated by js*/
    color:hsl(238, 29%, 16%);
    font-weight: 700;
    font-size: 14px; /*Fonts goes smaller to match preview image size*/
}

.question_txt:after{ /*after inserts something after the content of the selected element*/
    content: url(images/icon-arrow-down.svg);
    float: right;
    margin-left: 5px;
}

.active:after{
    /*flips arrow and makes it upside down after being pressed*/
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

.answer_txt{
    font-weight: 400;
    color: hsl(240, 6%, 50%);
    font-size: 12px;

    margin: 0;

    background-color: transparent;
    /*this hides the text*/
    display: none;
    overflow: hidden;
}

#flex_container{
    /*size and color adjustments*/
    width: 920px;
    height: 520px;
    margin: 30px 60px;
    border-radius: 25px;
    /*adds background image and adjusts size*/
    background-color: white;
    background-image: url(images/bg-pattern-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    /*makes background off center*/
    background-position: -530px -250px;

    /*centers the contents vertically in the container*/
    display: flex;
    align-items: center;
}

#item1{
    min-width: 400px;
    height: 70%; /*this makes image work with align-items: center*/
}

#girl_screen{
    height: 100%;
    width: 100%;
    /*i made the woman online img as background so I can put the box img on top and also to make it clip*/
    background-image: url(images/illustration-woman-online-desktop.svg);
    background-size: 470px;
    background-repeat: no-repeat;
    /*clips the image because it goes outside*/
    background-position: -80px;
    /*this kinda centers the box*/
    display: flex;
    align-items: center;
}

#girl_screen img{/*this is the box and the margin is negative so it goes outside*/
    margin: 95px 0 0 -93px;
}

#item2{/*text margin*/
    margin: 0 100px 0 80px;
}

@media(max-width: 800px) { /*Mobile design*/

    .question_txt{
        font-size: 14px;
    }

    .active{
        font-size: 13px;
    }

    #flex_container{
        /*makes items stack on top of eachother*/
        flex-direction: column;
        /*changes size to fit new screen size*/
        min-width: 200px;
        min-height: 550px;
        /*changes background image to mobile version and fixes it for new screensize*/
        background-image: url(images/bg-pattern-mobile.svg);
        background-size: 250px;
        background-position: 40px 0;
        margin: 50px 25px 0 25px;
    }
    
    #girl_screen{ /*deletes woman online background img because we are gonna make it an actual img in the html*/
        background-image: none;
        background-size: 0px;

        /*resets heights and widths*/
        height: auto;
        width: auto;
    }

    #girl_screen img{ /*changes box image to woman online mobile image*/
        width: 250px;
        height: auto;
        content: url(images/illustration-woman-online-mobile.svg);
        margin: -115px 0 0 0;/*puts image above and overflowing*/
    }

    #item1{
        min-width: 100px;
        height: 110px; /*this makes FAQ go up because the div occupies less space than the image and the image is overlapping outside*/
    }

    #item2{
        margin: 0 20px 0 20px;
    }

    #item2 h1{
        text-align: center;
    }
}
